.footer {
  background-color: #222;
  width: 100%;
  height: 80%;
  color: #fff;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  margin-top: 40px;
  font-family: sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1 1 250px;
  margin: 10px;
}

.footer-section h4 {
  font-size: 18px;
  color: #00bcd4;
  text-decoration: none;
}
.title{
  text-decoration: none;
  color:#00bcd4
}
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
  color: #fff;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #444;
  font-size: 14px;
  color: #aaa;
}

.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.button-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.crm-button {
  padding: 20px 40px;
  font-size: 18px;
  cursor: pointer;
  width: 250px;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s ease;
}

.crm-button:hover {
  background-color: #d1deec;
}
